# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# TensorFlow Models
saved_model/
*.keras
*.h5
*.pb

# Logs
logs/
*.log

# Dataset
dataset/

# Kaggle
kaggle.json

# OS Files
Thumbs.db
.DS_Store